@tailwind base;
@tailwind components;
@tailwind utilities;

.top-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.4,
    rgba(0, 0, 0, 0%) 100%
  );
}

.bottom-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}


video {
  max-width: 100%;
}

.error-message,
.success-message {
  opacity: 0;
}

input:invalid:focus + .error-message {
  opacity: 100;
}

.scroll-container {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.scroll-child:not(:first-child) {
  scroll-snap-align: start;
}
